.aboutContainer {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("../../img/fondoAbout.jpg");
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.imageContainer {
    margin-right: 20px;
}

.foto {
    margin-top: 50px;
    margin-left: 50px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: justify;
}

.bodyContainer {
    margin: 50px;
    background: rgba(0, 0, 0, 0.3);
}
@font-face {
    font-family: "get_schwifty";
    src: url("../../get_schwifty.ttf");
}

.buttonContainer {
    margin-left: 10px;
}
.buttonHome {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    background-size: 1400% 100%;
    animation: rainbow 5s linear infinite;
    cursor: pointer;
    &:hover {
        scale: 1.3;
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.buttonHomeImg {
    margin-top: 8px;
    height: max-content;
    width: max-content;
}
.textoBack {
    font-family: "get_schwifty";
}
