.body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: aliceblue;
}

.videoContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.contentContainer {
	margin-top: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.leftContainer {
	margin-left: 100px;
	width: 50%;
}

.imageContainer {
	display: flex;
	justify-content: center; /* Centra horizontalmente */
	align-items: center; /* Centra verticalmente */
	height: 100%; /* Ajusta la altura al 100% */
}

.image {
	border-radius: 50%;
	min-width: 400px; /* Ajusta el tamaño minimo de la imagen */
	min-height: 400px; /* Ajusta el tamaño minimo de la imagen */
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.rightContainer {
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	margin-right: 100px;
}

@keyframes rainbow {
	0% {
		color: red;
	}
	14% {
		color: orange;
	}
	28% {
		color: yellow;
	}
	42% {
		color: green;
	}
	57% {
		color: blue;
	}
	71% {
		color: indigo;
	}
	85% {
		color: violet;
	}
	100% {
		color: red;
	}
}

.textContainer {
	margin-left: 20px;
}
