.NavBarContainer {
	opacity: 0.9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: rgb(71, 69, 69);
	display: flex;
	align-items: center;
	height: auto;
	justify-content: space-between;
	padding: 0 10px;
}

.LogoContainer {
	flex: 1;
	text-align: right;
	max-height: fit-content;
	max-width: 100px;
	margin-left: 0;
}

.Logo {
	width: auto;
	height: 70px;
	margin-top: auto;
	border-radius: 50%;
	transition: transform 0.3s ease-in-out;
}

.Logo:hover {
	transform: rotate(180deg);
}

@font-face {
	font-family: "get_schwifty";
	src: url("../../get_schwifty.ttf");
}

.titleContainer {
	width: 200px;
	height: 80px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	align-items: center;
}

.Title {
	flex: 1;
	font-family: "get_schwifty";
	animation: rainbow 5s linear infinite;
}
@keyframes rainbow {
	0% {
		color: red;
	}
	14% {
		color: orange;
	}
	28% {
		color: yellow;
	}
	42% {
		color: green;
	}
	57% {
		color: blue;
	}
	71% {
		color: indigo;
	}
	85% {
		color: violet;
	}
	100% {
		color: red;
	}
}

@media (max-width: 768px) {
	.NavBarContainer {
		flex-direction: column;
		align-items: center;
		padding: 0;
		flex-wrap: wrap;
		justify-content: center;
		height: auto;
	}

	.LogoContainer {
		margin-bottom: 10px;
	}

	.Title {
		margin: 10px 0;
	}
}

.aboutButton {
	margin-top: 15px;
	border: none;
	background: none;
	font-family: "get_schwifty";
	font-size: 30px;
	margin-left: 30px;
	margin-right: 10px;
	cursor: pointer;
	&:hover {
		scale: 1.2;
		animation: rainbow 5s linear infinite;
	}
}

.homeButtonContainer {
	justify-content: flex-end;
	height: 55px;
	font-family: "get_schwifty";
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	background: linear-gradient(to right, #46ac17, #b0ba21);
	animation: colorFade 5s linear infinite;
	&:hover {
		scale: 1.1;
	}
}
@keyframes colorFade {
	0% {
		background-color: #46ac17;
	}
	50% {
		background-color: #86c723;
	}
	100% {
		background-color: #b0ba21;
	}
}

.homeButton {
	width: fit-content;
	height: 25px;
	&:hover {
		scale: 1.1;
	}
}

.leftSide {
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	margin-right: 50px;
}

.rightSide {
	margin-top: 20px;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	margin-bottom: 20px;
	margin-right: 50px;
}
.logOutButton {
	background: rgb(231, 7, 7);
	display: flex;
	flex-direction: column;
	height: 50px;
	width: 50px;
	margin-left: 50px;
	cursor: pointer;
	border-radius: 50%;
	&:hover {
		scale: 1.1;
	}
}

.logOutIcon {
	margin-left: 5px;
	margin-top: 9px;
	height: 25px;
	width: auto;
	align-items: center;
	justify-content: center;
	&:hover {
		scale: 1.1;
	}
}

.heartButton {
	margin-top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.heartIcon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: red; /* Color rojo para el corazón */
	transform: rotate(-45deg);
	&:hover {
		scale: 1.2;
	}
}
.heartIcon::before,
.heartIcon::after {
	content: "";
	position: absolute;
}

.heartIcon::before {
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 0 0;
	background-color: red; /* Color rojo para el corazón */
	top: -10px;
	left: 0;
}

.heartIcon::after {
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 0;
	background-color: red; /* Color rojo para el corazón */
	top: 0;
	left: 10px;
}
.buttonTextFav {
	font-weight: bolder;
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #000; /* Color del texto */
	&:hover {
		scale: 1.2;
	}
}
